/* 메인 */

* { box-sizing: border-box; }

body { margin: 0; padding: 0; }

a { text-decoration: none; color: black; }

ul { list-style: none; margin: 0; padding: 0; }

#notice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 300px;
  height: 300px;
  position: relative;
  border: 5px solid #dfdfdf;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  /* background-color: orchid; */
}

#notice #previous, #notice #next {
  position: absolute;
  bottom: 50%;
  width: 25px;
  height: 40px;
  border: none;
  opacity: 0.5;
  background-color: #cfcfcf;
}
#notice #previous:hover, #notice #next:hover { opacity: 0.8; }
#notice #previous { left: 0; }
#notice #next { right: 0; }

/* .notice-img { background-color: paleturquoise; } */

.is-hidden { display: none; }

#index-mark-container {
  position: absolute;
  bottom: 0;
  /* background-color: orange;  */
}

.index-mark {
  display: inline-block;
  margin: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #40241a;
  opacity: 0.5;
}


/* 메인 끝 */
